body {
    background-image: url("../images/cantina.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: fixed;
    width: 120%; 
    left: 0px; 
    top: 0px; 
}

#battle-ground {
    background-image: linear-gradient(black, rgb(38, 203, 245), black);
}

#page-logo,
#pick-fighter {
    color: #feda4a;
    text-shadow: 6px 6px 7px black;
    font-family: 'Pathway Gothic One', sans-serif;
}

.back-drop {
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
    width: 120%;
}

